:root {
  font-family: 'Poppins', sans-serif;
  color: $_main_color;
  background: $_main_bg_color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 100%;
  max-width: 375px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 1440px;
    padding-right: 72px;
    padding-left: 72px;
  }
}

.section {
  scroll-margin-top: 60px;

  @include media(desktop) {
    scroll-margin-top: 60px;
  }
}

.section-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  color: #fc0;
  margin-bottom: 5px;
  line-height: 1.5;

  @include media(desktop) {
    font-size: 24px;
    margin-bottom: 24px;
  }
}

.section-subtitle {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: #edfcff;
  margin-bottom: 25px;
  background-image: linear-gradient(to right, #fc0 0%, transparent 100%);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 100% 2px;
  max-width: max-content;
  line-height: 1.5;

  @include media(desktop) {
    font-size: 42px;
    margin-bottom: 48px;
  }
}
