.footer {
  border: 2px solid #fc0;
  padding-top: 45px;
  padding-bottom: 25px;

  @include media(desktop) {
    padding-top: 32px;
    padding-bottom: 16px;
  }
}

.footer-wrapper {
  @include media(desktop) {
    display: flex;
  }
}

.footer-title-wrapper {
  padding-bottom: 15px;
  background-image: linear-gradient(to right, #fc0 0%, transparent 100%);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 100% 1px;

  @include media(desktop) {
    background-image: none;
    margin-right: 199px;
  }
}

.footer-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.77778;
  color: #edfcff;

  @include media(desktop) {
    font-size: 22px;
    line-height: 1.45455;
    margin-bottom: 8px;
  }
}

.footer-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #edfcff;
  margin-bottom: 5px;

  @include media(desktop) {
    font-size: 22px;
    margin-bottom: 24px;
  }
}

.footer-contacts-wrapper {
  padding: 15px 0;
  background-image: linear-gradient(to right, #fc0 0%, transparent 100%);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 100% 1px;

  @include media(desktop) {
    padding: 0;
    background-image: none;
  }
}

.footer-contacts-address {
}

.footer-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 15px;

  @include media(desktop) {
    padding: 0;
    background-image: none;
    gap: 16px;
  }
}

.footer-contacts-list-item {
  @include media(desktop) {
    max-width: 275px;
  }
}

.footer-contacts-item-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.77778;
  color: #edfcff;

  @include media(desktop) {
    font-size: 22px;
    line-height: 1.45455;
    margin-bottom: 8px;
  }
}

.footer-contacts-item-link {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #edfcff;

  @include media(desktop) {
    font-size: 22px;
  }
}

.footer-nav {
  padding-top: 23px;
  margin-bottom: 69px;

  @include media(desktop) {
    padding-top: 0;
    margin-bottom: 0;
    margin-left: auto;
  }
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 31px;

  @include media(desktop) {
    align-items: start;
    justify-content: start;
    gap: 11px;
  }
}

.footer-list-item {
}

.footer-link {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #edfcff;
  transition: color 0.3s ease-in-out;

  @include media(desktop) {
    padding: 8px;
    font-size: 22px;
  }

  &:hover,
  &:focus {
  }
}

.footer-bottom-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #edfcff;

  @include media(desktop) {
    font-size: 16px;
    margin-top: 99px;
  }
}
