.header {
  box-shadow: 0 4px 4px 0 rgba(255, 204, 0, 0.25);
  background: #0b0a08;
  padding: 15px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media(desktop) {
    justify-content: start;
  }
}

.nav {
  display: flex;
  align-items: center;

  @include media(desktop) {
    gap: 147px;
  }
}

.nav-list {
  @include media(desktop) {
    display: flex;
    align-items: center;
    gap: 24px;
  }
}

.header-logo-link {
  width: 50px;
  height: 40px;

  @include media(desktop) {
  }
}

.nav-list {
  display: none;

  @include media(desktop) {
    display: flex;
    align-items: center;
  }
}

.nav-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list-link {
  @include media(desktop) {
    padding: 8px 8px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edfcff;
    transition: all 0.3s ease-in-out;

    &:hover,
    &.active {
      color: #fc0;
    }
  }
}

.nav-list-link.active {
  color: #fc0;
}

.nav-btn {
  background-color: transparent;
  width: 24px;
  height: 24px;

  @include media(desktop) {
    display: none;
  }
}

.close-btn {
  display: none;
  background-color: transparent;
  width: 24px;
  height: 24px;

  @include media(desktop) {
    display: none;
  }
}
