.context-menu {
  display: none;
  box-shadow: 0 4px 4px 0 rgba(255, 204, 0, 0.25);
  background: #0b0a08;
  padding: 23px;
  max-width: 375px;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  top: 70px;
  left: 0;
  right: 0;
  transform: none;
  z-index: 10;
}

.context-nav-list {
  display: flex;
  flex-direction: column;
  gap: 41px;
  text-align: left;
}

.context-list-link {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edfcff;
  transition: all 0.3s ease-in-out;

  &:active {
    color: #fc0;
  }
}

.is-open {
  display: block;

  @include media(desktop) {
    display: none;
  }
}

.closed {
  display: none;
}

.screen-freeze {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
