.missions-section {
  padding-top: 45px;
  padding-bottom: 45px;

  @include media(desktop) {
    padding-top: 120px;
    padding-bottom: 219px;
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
  }
}

.missions-text-wrapper {
  @include media(desktop) {
    max-width: 756px;
  }
}

.missions-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #edfcff;
  line-height: 1.5;
  margin-bottom: 25px;

  &:last-child {
    margin-bottom: 0;
  }

  @include media(desktop) {
    font-size: 24px;
  }
}

.missions-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fc0;
  border-radius: 8px;
  padding: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #0b0a08;
  width: 100%;

  @include media(desktop) {
    max-width: 426px;
    margin-bottom: 0;
  }
}

.missions-img {
  @include media(desktop) {
    position: absolute;
    bottom: 120px;
    right: 72px;
  }
}
