.prices-section {
  padding-top: 25px;
  padding-bottom: 25px;
  background-image: url(../img/prices/prices-bg-mob.png);
  background-repeat: no-repeat;
  background-position: top 0 center;
  background-size: cover;

  @include media(desktop) {
    scroll-margin-top: 100px;
    padding-top: 0;
    padding-bottom: 52px;
    background-image: url(../img/prices/prices-bg-desk.png);
  }
}

.prices-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: #edfcff;
  margin-bottom: 25px;

  @include media(desktop) {
    font-size: 24px;
    margin-bottom: 48px;
  }
}

.prices-table {
}

.prices-table-row-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  border-top: 1px solid #edfcff;

  &:last-child {
    border-bottom: 1px solid #edfcff;
  }

  @include media(desktop) {
    padding: 24px 0;
    justify-content: start;
  }
}

.prices-table-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.38889;
  color: #edfcff;
  max-width: 150px;
  width: 100%;

  @include media(desktop) {
    font-size: 22px;
    line-height: 1.36364;
    max-width: 306px;
    text-align: left;
  }
}

.prices-first-column {
  font-weight: 700;

  @include media(desktop) {
    font-size: 24px;
    max-width: 990px;
    width: 990px;
  }
}
