<section class="section about-section" id="about">
  <div class="container about-container">
    <div class="about-text-wrapper">
      <h2 class="about-title section-title">About the Agency</h2>
      <p class="section-subtitle">The Mission Behind LOCU</p>
      <p class="about-text">
        Agency LOCU is a fictional intelligence division brought to life through
        real-world games. We design high-stakes escape rooms, mobile spy
        puzzles, and corporate team experiences inspired by covert operations.
        Every scenario puts players into the shoes of agents navigating
        encrypted intel, physical clues, and psychological challenges. Whether
        it’s for a night out or a company event, we blend creativity with
        espionage to create unforgettable tactical adventures.
      </p>
      <a href="#prices" class="about-btn">See all activities</a>
    </div>
    <picture>
      <source
        srcset="./img/about/about-bg-desk.png"
        media="(min-width: 1440px)"
        width="417"
        height="620"
      />
      <source srcset="./img/about/about-bg-mob.png" width="345" height="513" />
      <img
        class="about-img"
        src="./img/about/about-bg-mob.png"
        alt="Screenshot of the game"
        width="345"
        height="513"
        loading="lazy"
      />
    </picture>
  </div>
</section>
