<section class="section faq-section" id="faq">
  <div class="faq-bg-wrapper">
    <div class="container faq-container">
      <p class="section-subtitle">FAQ</p>
      <ul class="faq-list">
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text">How long does each mission last?</span>
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="28" height="28">
                <use href="./img/sprite.svg#icon-plus"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text">
            Most of our physical missions run for 60 minutes, with an additional
            15 minutes for briefing and debrief. Some mobile or extended story
            arcs may run for 90+ minutes. We tailor mission length based on
            complexity and audience. Check each scenario’s details for more
            info.
          </p>
        </li>
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text"
              >Can we customize a portable setup for a specific topic or age
              group?
            </span>
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="28" height="28">
                <use href="./img/sprite.svg#icon-plus"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text">
            Most of our physical missions run for 60 minutes, with an additional
            15 minutes for briefing and debrief. Some mobile or extended story
            arcs may run for 90+ minutes. We tailor mission length based on
            complexity and audience. Check each scenario’s details for more
            info.
          </p>
        </li>
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text"
              >Are your mobile games available in different cities?
            </span>
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="28" height="28">
                <use href="./img/sprite.svg#icon-plus"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text">
            Currently, our mobile AR-based games operate in several major
            cities. We are expanding quarterly. If you’re unsure about your
            location, contact us—we may be able to launch a mission near you on
            request.
          </p>
        </li>
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text"
              >Do you offer beginner-friendly missions?
            </span>
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="28" height="28">
                <use href="./img/sprite.svg#icon-plus"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text">
            Yes. We categorize all missions by difficulty. First-time agents
            will enjoy our Intro Ops or team versions, which are guided with
            hints and built for success while still feeling challenging.
          </p>
        </li>
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text">What is the maximum group size? </span>
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="28" height="28">
                <use href="./img/sprite.svg#icon-plus"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text">
            Most of our physical rooms are built for 4–8 agents, but we can host
            up to 50+ for mobile or event-based games. Team-based formats allow
            parallel gameplay and collaborative wrap-up.
          </p>
        </li>
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text">Is there an age restriction?</span>
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="28" height="28">
                <use href="./img/sprite.svg#icon-plus"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text">
            For safety and gameplay reasons, most physical rooms are recommended
            for ages 12+, though younger children can participate in mobile
            missions with adult supervision. We also have special missions
            designed just for kids.
          </p>
        </li>
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text"
              >Do you need to be physically fit to participate?
            </span>
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="28" height="28">
                <use href="./img/sprite.svg#icon-plus"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text">
            Not at all. Our games are built with accessibility in mind. No
            crawling, climbing, or strenuous tasks are required. We can also
            adjust setups to suit participants with mobility limitations.
          </p>
        </li>
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text">Can I book a private event?</span>
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="28" height="28">
                <use href="./img/sprite.svg#icon-plus"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text">
            Yes. We offer private bookings for birthdays, bachelor/ette parties,
            company off-sites, and more. These events can include custom
            missions, longer sessions, and post-game analysis.
          </p>
        </li>
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text"
              >What if we get stuck during the game?
            </span>
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="28" height="28">
                <use href="./img/sprite.svg#icon-plus"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text">
            Our rooms have hint systems—either digital or via your Game Master.
            We believe in challenge, not frustration. You’ll be nudged just
            enough to stay immersed and moving.
          </p>
        </li>
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text"
              >Do you offer gift cards or vouchers?
            </span>
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="28" height="28">
                <use href="./img/sprite.svg#icon-plus"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text">
            Yes. You can purchase digital or physical gift cards, valid for any
            mission or service. They make great gifts for puzzle lovers,
            coworkers, or team leaders.
          </p>
        </li>
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-btn-text"
              >What happens in case of cancellation or rescheduling?
            </span>
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="28" height="28">
                <use href="./img/sprite.svg#icon-plus"></use></svg
            ></span>
          </button>
          <p class="faq-bottom-text">
            Cancellations with more than 48 hours’ notice are fully refundable.
            Within 48 hours, we can usually reschedule or offer credit. For
            corporate events, separate terms apply based on contract.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
