<footer class="footer">
  <div class="container footer-container">
    <div class="footer-wrapper">
      <div class="footer-title-wrapper">
        <p class="footer-title">Agency LOCU -</p>
        <p class="footer-text">Tactical Escape Experiences</p>
        <svg class="footer-logo-icon" width="81" height="64">
          <use href="./img/sprite.svg#icon-logo"></use>
        </svg>
      </div>
      <div class="footer-contacts-wrapper">
        <address class="footer-contacts-address">
          <ul class="footer-contacts-list">
            <li class="footer-contacts-list-item">
              <p class="footer-contacts-item-text">Contact:</p>
              <a
                class="footer-contacts-item-link"
                href="mailto:info@agencylocu.space
              "
                >info@agencylocu.space
              </a>
            </li>
            <li class="footer-contacts-list-item">
              <p class="footer-contacts-item-text">Location:</p>
              <a class="footer-contacts-item-link" href=""
                >HQ and Mobile Unit availability by request</a
              >
            </li>
          </ul>
        </address>
      </div>
      <nav class="footer-nav">
        <ul class="footer-list">
          <li class="footer-list-item">
            <a class="footer-link" target="_blank" href="policies.pdf#page=1"
              >Privacy Policy
            </a>
          </li>
          <li class="footer-list-item">
            <a class="footer-link" target="_blank" href="policies.pdf#page=7"
              >Terms & Conditions
            </a>
          </li>
          <li class="footer-list-item">
            <a class="footer-link" target="_blank" href="policies.pdf#page=11"
              >Cookies policy
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <p class="footer-bottom-text">
      All rights reserved agencylocu.space | 2025
    </p>
  </div>
</footer>
