<section class="section hero-section" id="home">
  <div class="container hero-container">
    <div class="hero-content-wrapper">
      <picture>
        <source
          srcset="./img/hero/hero-title-desk.png"
          media="(min-width: 1440px)"
          width="962"
          height="303"
        />
        <source
          srcset="./img/hero/hero-title-mob.png"
          width="335"
          height="115"
        />
        <img
          class="hero-title-img"
          src="./img/hero/hero-title-mob.png"
          alt="Title"
          width="335"
          height="115"
        />
      </picture>
      <p class="hero-text">
        Immersive spy-themed escape games, mobile puzzles, and tactical missions
        for thrill-seekers and teams.
      </p>
    </div>
  </div>
</section>
