<section class="section missions-section" id="missions">
  <div class="container missions-container">
    <div class="missions-text-wrapper">
      <h2 class="missions-title section-title">Featured Missions</h2>
      <p class="section-subtitle">Top Operations This Season</p>
      <p class="missions-text">
        <b>Operation Black Cipher:</b> Decode the plans of a rogue agent hidden
        in the city's landmarks.
      </p>
      <p class="missions-text">
        <b> Project Mirage:</b> A simulation-based escape room using augmented
        reality overlays.
      </p>
      <p class="missions-text">
        <b>Ghost Signal:</b> A mobile trail hunt involving voice recordings, map
        drops, and dead drops across the park.
      </p>
    </div>
    <picture>
      <source
        srcset="./img/missions/missions-bg-desk.png"
        media="(min-width: 1440px)"
        width="451"
        height="534"
      />
      <source
        srcset="./img/missions/missions-bg-mob.png"
        width="345"
        height="534"
      />
      <img
        class="missions-img"
        src="./img/missions/missions-bg-mob.png"
        alt="Screenshot of the game"
        width="345"
        height="534"
        loading="lazy"
      />
    </picture>
  </div>
</section>
